/*Apply a basic layout
@import url('../thematic/library/layouts/3c-fixed.css');*/

/*Reset browser defaults */
@import url('../thematic/library/styles/reset.css');

body {

	background-color: white;

}

.left {

	float:left;

}

.right { 

	float:right;
	
}

a {

	color: #6D2818;

}

a:hover {

	color: #F0A391;

}

a:link {

	color: #6D2818;

}

a:visited {

	color: #6D2818;

}

#main {

	padding: 0;

}

#maincontainer {
	width: 926px;
	margin: 0 auto;

}

#innercontainer {

	float:left;
	width:100%;
	text-align: left;
	padding: 10px 20px; /**Leaving 886px to play with in the center**/

}

#front-main {

	float: left;
	margin-left: 202px;
	
}

/**main content styling**/
/**header**/
#above {

	width: 100%;
	height: 112px;
	margin-bottom: 10px;

}

#above a {

	display:block;

}

#home-button-container {

	
	padding: 2px 18px;
	border: 3px grey ridge;
	float: left;
	border-top-right-radius: 1em;
	-o-border-top-right-radius: 1em;
	-moz-border-top-right-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	-o-border-top-right-radius: 1em;
	-moz-border-top-right-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	margin-left: -80px;
	padding-left: 100px;
	padding-right: 67px;
	
}

#home-button-one {

	float: left;

}

#home-button-two {

	float: left;

}

#candidates {

	padding-left:10px;

}

.header-cat-item {

	float: left;
	height: 78px;


}

.header-category-display {

	position:relative;

}

.header-category-display h5 {

	position:absolute;
	left:78px;
	top:8px;
	color:#555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}

.header-category-display h5 a{

	text-decoration: none;

}

.header-category-display h6 {

	position:absolute;
	left:78px;
	top:40px;
	color:#555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;

}

.header-category-display h6 a{

	text-decoration: none;

}

/**end of header**/

#preview {

	height: 227px;
	margin-bottom: 9px;
	width: 100%;
	border-top-left-radius: 1em;
	-o-border-top-left-radius: 1em;
	-moz-border-top-left-radius: 1em;
	-webkit-border-top-left-radius: 1em;

}

#preview-side {

	width: 264px;
	float: right;
	height: 228px;
	overflow: hidden;
	
}


#preview-photos {

	width: 100%;
	background-color: black;
	height: 120px;
	margin-bottom: 6px;

}

.mini-photos {

	width: 88px;
	height: 120px;
	background-color: black;
	float: left;
	position: relative;

}

.mini-last {

	border-top-right-radius: 1em;
	-o-border-top-right-radius: 1em;
	-moz-border-top-right-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	-o-border-bottom-right-radius: 1em;
	-moz-border-bottom-right-radius: 1em;
	-webkit-border-bottom-right-radius: 1em;	

}

.slider-item-title {

	position: absolute;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding: 4px;
	border-top-right-radius: 0em;
	-o-border-top-right-radius: 0em;
	-moz-border-top-right-radius: 0em;
	-webkit-border-top-right-radius: 0em;	

}

#mainphoto {

	width: 419px;
	float: left;
	height: 228px;
	position: relative;
	z-index: 1;
	display: block;
	cursor: pointer;
	background:black;
	border-top-left-radius: 1em;
	-o-border-top-left-radius: 1em;
	-moz-border-top-left-radius: 1em;
	-webkit-border-top-left-radius: 1em;	
}

#mainphoto div {

	position: absolute;
	top: 122px;
	left: 0;
	width: auto;
	max-height:90px;
	padding: 10px;
	background: rgb(0, 0, 0); /*fallback color*/
	background: rgba(0, 0, 0, 0.7);	

}

#mainphoto div h2 {

	color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	display:block;

}

#preview a {

	text-decoration:none;
	color: white;
	display: block;

}

#gap {

	width: 419px;
	height: 9px;
	background-color: black;
	margin-top: -12px;

}

#main-content {

	width:683px;
	float:left;
	height: 578px;

}

#big-story {

	width:541px;
	margin-right: 22px;
	float:left;
	height: 124px;
	background-color: black;
	padding: 0 7px;
	border-bottom-right-radius: 1em;
	-o-border-bottom-right-radius: 1em;
	-moz-border-bottom-right-radius: 1em;
	-webkit-border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
	-o-border-bottom-left-radius: 1em;
	-moz-border-bottom-left-radius: 1em;
	-webkit-border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
	-o-border-top-right-radius: 1em;
	-moz-border-top-right-radius: 1em;
	-webkit-border-top-right-radius: 1em;
}

#big-story .post-meta {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #BBB;
	margin-bottom: 4px;

}

#big-story .post-meta a {

	text-decoration:none;
	color: #BBB;

}

#big-story .entry {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #F0F0F0;

}

#big-story .entry p:first-child {

	max-height:84px;

}

.readmoregraf {

	margin-top:8px;

}

.readmoregraf a {

	color: #F0A391;

}

#nextevent {

	overflow:hidden;
	height: 100px;
	width: 260px;
	margin: 0 auto;
	padding-left:2px;

}

#feed {

	width:541px;
	margin-right: 22px;
	margin-bottom: 10px;
	float:left;
	height: 454px;

}

#tabs {

	margin-top:20px;
	height: 19px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	
}

#tabs li {

	background-color: #C8DFE9;
	padding: 2px;
	display: inline;
	margin-right: 10px;
	padding: 8px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	-moz-border-top-left-radius: 12px;
	-webkit-border-top-left-radius: 12px;
	-o-border-top-left-radius: 12px;
	-moz-border-top-right-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-o-border-top-right-radius: 12px;

}

#tabs li a {

	color: #113545;
	text-decoration: none;

}

#tabs .active-tab {

	background-color: #1C4455;
	color: #C8DFE9;

}

#tabs .active-tab a {

	color: #C8DFE9;
	text-decoration: none;

}

#contents-container {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	height: 408px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 4px solid #1C4455;
	width:546px;

}

.content-contained {

	margin: 6px;

}

.home-tab-item {

	margin-bottom: 14px;

}

.tab-item-title {

	font-weight: bold;
	margin-bottom: 4px;

}

.tab-item-title a {

	text-decoration: none;

}

.home-tab-content {

	font-size: 12px;

}

#sidebar-left-box {

	width: 196px;
	margin-right: 6px;
	margin-left:-886px;
	height:936px;

}

#logobox {

	margin-left: -21px;
	margin-top: -12px;
	z-index: 10;
	

}

#logobox img {

	z-index:1000;
	position:relative;

}
#sidebar-left {

	margin-top: 8px;
	padding: 6px 0px 10px;
	height: 692px;
	overflow: hidden;


}

#left-top-widgets {

	border-left: 6px solid #C7EBD6;
	padding: 0 8px;
	padding-bottom: 22px;
	margin-bottom: 12px;

}

#left-top-widgets #lwp_3_searchbutton {

	font-family: Arial;
	font-size: 13px;
	vertical-align: baseline;

}

#left-top-widgets .widget_rss {

	font-size: 11px;
	line-height: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}

#left-top-widgets .widget_rss li {

	margin: 12px 0;
	
}

#left-top-widgets h5 {

	display:none;
	
}

#left-top-widgets h5 a img {

	display:none;
	
}

#left-lower-widgets {

	
	
}

#left-lower-widgets .widget {

	padding-left: 6px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 12px;
	border-left: 6px solid #C7EBD6;
	
}


#left-lower-widgets h4 {

	font-size: 18px;
	padding: 8px;
	border-left: 6px solid #6D2818;
	margin-left: -12px;
	margin-bottom: 4px;
	text-decoration: none;
	
}

#left-lower-widgets h4 a {

	text-decoration: none;
	color: black;
	
}

#left-lower-widgets h4 a img {

	display:none;
	
}

#left-lower-widgets .widget_rss {

	font-size: 11px;
	line-height: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}

#left-lower-widgets .widget_rss li {

	margin: 8px 0;
	
}

#sidebar-right {

	width: 124px;
	float: left;
	margin-left: -124px;
	height: 578px;

}

#inner-sidebar-right {

	margin-top:8px;
	max-height:342px;
	overflow:hidden;
	
}

#frontsocial {

	border-width: 2px;
	border-style: inset;
	background-color:#C7EBD6;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #666;
	padding-top:10px;
	height: 214px;

}

.underBox { 
	/* border-bottom:ridge; 
	border-bottom-color:#000000; */
	padding-left: 15px;
	padding-bottom: 0px;
	padding-top:3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
}

.underBox2 { 
	padding-top:11px;

}

.underBox2 a {

	margin-left: 15px;
	padding: 0 0 0 19px;
	display: block;
	margin-bottom: -12px;

}

.underBox2 .feed {

	background: url("library/imgs/feedicon/feed-icon-14x14.png") no-repeat 0 50%;
}

.underBox2 .tweet {

	background: url("library/imgs/feedicon/twitter.png") no-repeat 0 50%;
}

.underBox2 .flickr {

	background: url("library/imgs/feedicon/flickr.png") no-repeat 0 50%;
}

.underBox2 .youtube {

	background: url("library/imgs/feedicon/youtube.png") no-repeat 0 50%;
}

.underBox2 .ff {

	background: url("library/imgs/feedicon/friendfeed.png") no-repeat 0 50%;
}

.underBox2 .facebook {

	background: url("library/imgs/feedicon/facebook.png") no-repeat 0 50%;
}

.underBox2 .deli {

	background: url("library/imgs/feedicon/delicious.png") no-repeat 0 50%;
}

.underBox2 .dotTV {

	background: url("library/imgs/feedicon/dotTV.png") no-repeat 0 50%;
}
