/*Apply a basic layout
@import url('../thematic/library/layouts/3c-fixed.css');*/

/*Reset browser defaults */
@import url('../thematic/library/styles/reset.css');

body {

	background-color: white;

}

.left {

	float:left;

}

.right { 

	float:right;
	
}

#main {

	padding: 0;

}

#maincontainer {
	width: 926px;
	margin: 0 auto;

}

#innercontainer {

	float:left;
	width:100%;
	text-align: left;
	padding: 10px 20px; /**Leaving 886px to play with in the center**/

}

#front-main {

	float: left;
	margin-left: 202px;
	
}

/**main content styling**/
#above {

	width: 100%;
	height: 110px;
	margin-bottom: 12px;
	background-color: pink;

}

#preview {

	height: 227px;
	margin-bottom: 9px;
	width: 100%;

}

#preview-side {

	width: 264px;
	float: right;
	height: 228px;
	
}


#preview-photos {

	width: 100%;
	background-color: lightgreen;
	height: 120px;
	margin-bottom: 6px;

}

.mini-photos {

	width: 76px;
	height: 102px;
	margin: 6px;
	background-color: yellow;
	float: left;

}

#mainphoto {

	width: 414px;
	margin-right: 5px;
	float: left;
	height: 228px;
	position: relative;

}

#mainphoto div {

	position: absolute;
	top: 126px;
	left: 0;
	width: auto;
	max-height:90px;
	padding: 10px;
	background: rgb(0, 0, 0); /*fallback color*/
	background: rgba(0, 0, 0, 0.7);	

}

#mainphoto div h2 {

	color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;

}

#preview a {

	text-decoration:none;

}

#main-content {

	width:683px;
	float:left;
	height: 578px;

}

#big-story {

	width:541px;
	margin-right: 22px;
	float:left;
	height: 124px;

}

#big-story .post-meta {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #BBB;
	margin-bottom: 4px;

}

#big-story .post-meta a {

	text-decoration:none;
	color: #BBB;

}

#big-story .entry {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666;

}

.readmoregraf {

	margin-top:4px;

}

#nextevent {

	overflow:hidden;
	height: 100px;
	width: 260px;
	margin: 0 auto;

}

#feed {

	width:541px;
	margin-right: 22px;
	margin-bottom: 10px;
	float:left;
	height: 454px;

}

#tabs {

	margin-top:14px;
	height: 19px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	
}

#tabs li {

	background-color: #C8DFE9;
	padding: 2px;
	display: inline;
	margin-right: 10px;
	padding: 8px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	-moz-border-top-left-radius: 12px;
	-webkit-border-top-left-radius: 12px;
	-o-border-top-left-radius: 12px;
	-moz-border-top-right-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-o-border-top-right-radius: 12px;

}

#tabs li a {

	color: #113545;
	text-decoration: none;

}

#tabs .active-tab {

	background-color: #1C4455;
	color: #C8DFE9;

}

#tabs .active-tab a {

	color: #C8DFE9;
	text-decoration: none;

}

#contents-container {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	max-height: 414px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 4px solid #1C4455;

}

.content-contained {

	margin: 6px;

}

#sidebar-left-box {

	width: 196px;
	margin-right: 6px;
	margin-left:-886px;
	height:936px;

}

#logobox {

	margin-left: -21px;
	margin-top: -12px;

}

#sidebar-left {

	margin-top: 8px;
	padding: 6px 0px 10px;
	min-height: 692px;


}

#left-top-widgets {

	border-left: 6px solid #C7EBD6;
	padding: 0 8px;

}

#sidebar-right {

	width: 124px;
	float: left;
	margin-left: -124px;
	background-color: red;
	height: 578px;

}

#frontsocial {

	border-width: 2px;
	border-style: inset;
	background-color:#e5e5e5;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #666;
	padding-top:10px;
	height: 214px;

}

.underBox { 
	/* border-bottom:ridge; 
	border-bottom-color:#000000; */
	padding-left: 15px;
	padding-bottom: 0px;
	padding-top:3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
}

.underBox2 { 
	padding-top:11px;
}

.underBox2 a {

	margin-left: 15px;
	padding: 0 0 0 19px;

}

.underBox2 .feed {

	background: url("library/imgs/feedicon/feed-icon-14x14.png") no-repeat 0 50%;
}

.underBox2 .tweet {

	background: url("library/imgs/feedicon/twitter.png") no-repeat 0 50%;
}

.underBox2 .flickr {

	background: url("library/imgs/feedicon/flickr.png") no-repeat 0 50%;
}

.underBox2 .youtube {

	background: url("library/imgs/feedicon/youtube.png") no-repeat 0 50%;
}

.underBox2 .ff {

	background: url("library/imgs/feedicon/friendfeed.png") no-repeat 0 50%;
}

.underBox2 .facebook {

	background: url("library/imgs/feedicon/facebook.png") no-repeat 0 50%;
}

.underBox2 .deli {

	background: url("library/imgs/feedicon/delicious.png") no-repeat 0 50%;
}

.underBox2 .dotTV {

	background: url("library/imgs/feedicon/dotTV.png") no-repeat 0 50%;
}
